/*
 *  A simple reset for modern web sites.
 *  Based on minireset.css & Normalize.css.
 *
 *  Oscar Palmér, https://oscar.pm
 *  ======================================== */

/*  Basics
 *  ======================================== */

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  text-rendering: optimizeLegibility;
}

/*  HTML5
 *  ======================================== */

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

mark,
time {
  display: inline;
}

summary {
  display: list-item;
}

svg:not(:root) {
  overflow: hidden;
}

[hidden],
template {
  display: none;
}

/*  Aria & a11y
 *  ======================================== */

[aria-hidden=true],
.a11y-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/*  Grouping content
 *  ======================================== */

audio,
embed,
iframe,
img,
object,
video {
  max-width: 100%;
  height: auto;
}

blockquote,
blockquote p,
q {
  quotes: none;
}

hr {
  height: 0;
  box-sizing: content-box;
  overflow: visible;
}

img {
  display: block;
}

nav ol,
nav ul {
  list-style: none;
}

pre {
  overflow: auto;
  white-space: pre-wrap;
}

/*  Text-level content
 *  ======================================== */

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr,
dfn {
  border-bottom: 1px dotted;
  text-decoration: none;
}

abbr[title],
dfn[title] {
  cursor: help;
}

b,
dt,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

mark {
  background: #ff0;
  color: #000;
}

q::before {
  content: '\201C';
}

q::after {
  content: '\201D';
}

q q::before {
  content: '\2018';
}

q q::after {
  content: '\2019';
}

small,
sub,
sup {
  font-size: smaller;
}

sub,
sup {
  line-height: 1;
  position: relative;
}

sub {
  vertical-align: text-bottom;
  top: .25em;
}

sup {
  vertical-align: text-top;
  top: -.25em;
}

/*  Forms
 *  ======================================== */

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

textarea {
  overflow: auto;
}

/*  Tables
 *  ======================================== */

table {
  border-collapse: collapse;
  border-spacing: 0;
}
