/* Reset
   ================================
   A stylesheet reset heavily based
   upon Normalize.css.
   ================================ */

/* Base
   ================================ */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  text-rendering: optimizeLegibility;
}

/* HTML5
   ================================ */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

summary {
  display: list-item;
}

svg:not(:root) {
  overflow: hidden;
}

[hidden],
template {
  display: none;
}

/* Content
   ================================ */

blockquote p:first-child,
blockquote p:only-child {
  text-indent: -1em;
}

blockquote p:last-child::after,
blockquote p:only-child::after,
q::after {
  content: "\201D";
}

blockquote p:first-child::before,
blockquote p:only-child::before,
q::before {
  content: "\201C";
}

blockquote p:first-child::before,
blockquote p:only-child::before {
  width: 1em;
  display: inline-block;
  text-align: right;
}

blockquote q::after,
q q::after {
  content: "\2019";
}

blockquote q::before,
q q::before {
  content: "\2018";
}

dt {
  font-weight: bold;
}

hr {
  height: 0;
}

img {
  max-width: 100%;
  display: block;
  border: 0;
}

ol ol,
ul ol,
ol ul,
ul ul {
  padding: 0 0 0 1.75em;
}

pre {
  overflow: auto;
  white-space: pre-wrap;
}

svg:not(:root) {
  overflow: hidden;
}

/* Text-level
   ================================ */

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #555;
  cursor: help;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: small;
}

mark {
  background: #ffa;
  color: #643;
}

small,
sub,
sup {
  font-size: smaller;
}

sub,
sup {
  line-height: 1;
}

sup {
  text-align: top;
}

sub {
  text-align: bottom;
}

/* Forms
   ================================ */

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  box-sizing: content-box;
  -webkit-appearance: searchfield;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  padding: 1em;
  border: 1px solid #ccc;
}

legend {
  max-width: 100%;
  display: table;
  white-space: normal;
}

optgroup {
  font-weight: bold;
}

textarea {
  overflow: auto;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}