/*
 *= require 'reset'
 */

/*  Colors  */

$color-background: mix(brown, yellow);
$color-body: rgb(48, 48, 48);
$color-anchor: rgb(0, 0, 255);
$color-anchor-focus: rgb(0, 128, 0);

/*  Base styles  */

html {
  //background: rgb(64, 64, 64); Dark mode?
  background: rgb(255, 255, 255);
}

body {
  padding: 0 4vw;
  background: rgba($color-background, .1);
  color: rgba($color-body, .75);
  font-family: -apple-system, BlinkMacSystemFont, 'segoe ui', 'helvetica neue', helvetica, arial, sans-serif, 'apple color emoji', 'segoe ui emoji', 'segoe ui symbol';
  font-size: 1rem;
  line-height: 1.375;
}

a {
  padding: .25em .5em;
  margin: 0 -.5em;
  background: rgba(255, 255, 255, 0);
  outline: 2px solid rgba($color-anchor-focus, 0);
  color: rgba($color-anchor, .875);
  position: relative;
  z-index: 10;
  transform: translate3d(0, 0, 0);
  transition: .25s ease;

  &:hover,
  &:focus {
    color: rgba($color-anchor-focus, .75);
  }

  &:focus {
    background: rgba(255, 255, 255, 1);
    outline-color: rgba($color-anchor-focus, .75);
  }

  &:active {
    color: rgba($color-body, .5);
  }
}

h3,
p {
  margin: 2vw 0;
}

h3 {
  color: rgba($color-body, .875);
  font-size: 1.125em;
}

/*  Containers  */

.wrapper,
.footer {
  padding: 4vw 0;
}

.wrapper {
  max-width: 32em;
  min-height: calc(100vh - 4vw - 1em);
  margin: 0 auto;
}

/*  Banner  */

.banner {
  margin: 0 0 4vw;
}

.banner-title {
  color: rgba($color-body, .5);
  font-size: .75em;
  line-height: 1rem;
  letter-spacing: .2em;
  text-transform: uppercase;
}

.banner-subtitle {
  margin: 2vw 0 2vw -.025em;
  font-size: 2em;
  font-style: italic;
  font-weight: normal;
  line-height: 1.125;
}

/*  Content  */

.index .main {
  p:last-of-type {
    width: 64px;
    margin: 4vw auto 0;
  }
}

/*  Footer  */

.footer {
  margin: -4vw 0 0;
}

.copyright {
  margin: 0;
  color: rgba($color-body, .5);
  font-size: .75em;
  font-style: italic;
  line-height: 1rem;
  text-align: center;
}
