<!doctype html>
<html lang="en">
<head>
  <%= partial "partials/head" %>
</head>
<body>
  <a aria-hidden="true" href="#content">Skip to content</a>

  <header role="banner">
    <h2>Anu</h2>
  </header>

  <main role="main" id="content">
    <%= yield %>
  </main>

  <%= partial "partials/footer" %>
</body>
</html>
