<footer role="contentinfo" class="bg-color pa3 pa4-ns f6 f5-ns lh-base">
  <div class="mw7 center cf">
    <p class="mb2 mb0-ns fl-ns">&copy; 1992&ndash;<%= Date.today.year %>, Oscar Palmér</p>
    <p class="fr-ns">Built with <%= current_link_to 'stuff', 'colophon' %> in southern Sweden</p>
  </div>
</footer>
