---
title: 404
description: Lost within the void, also known as the internet.
---

<header class="bg-color header pa3 pa4-m pa5-l lh-title" aria-labelledby="page-title">
  <div class="mw7 center">
    <h1 id="page-title" class="f5 f4-ns">Page not found</h1>
    <p class="pt2 pt3-ns f3 f2-ns normal i"><%= current_page.data.description.sub /\.\z/, '' %></p>
  </div>
</header>

<section id="content" class="pt3 pt4-m pt5-l mh3 mb0" aria-labelledby="lost-title">
  <header class="hidden" aria-labelledby="lost-title">
    <h2 id="lost-title">Lost or misdirected?</h2>
  </header>

  <div class="mw7 center">
    <p class="measure">Sorry, the page you're looking for &ndash; or was linked to &ndash; doesn't exist. <span class="emoji" role="img" aria-label="Sad face" tabindex="0">&#x1F61E;</span></p>
    <p class="measure mv3">To make things a little better, you could always watch <a href="//critrole.com">Critical Role</a>.</p>
    <p class="measure">Or you could <a href="/">go home</a>, or visit <a href="//www.wikipedia.org">Wikipedia</a>.</p>
  </div>
</section>
