---
title: 404
description: Lost within the void, also known as <i>the internet</i></i>
---

<header>
  <h1>Page not found</h1>
  <h2><%= current_page.data.description %></h2>
</header>

<div>
  <p>Sorry, the page you're looking for, or was linked to, doesn't exist.</p>
  <p>To make things a little better, you could always watch <a href="//critrole.com">Critical Role</a>.</p>
  <p>Or you could <a href=".">go home</a> or visit <a href="//www.wikipedia.org">Wikipedia</a>.</p>
</div>
