---
title: Colophon
description: How this website was built, and what was used to make it all happen.
---

<%
  today = Date.today;
  today_in_words = today.strftime "#{today.day.ordinalize} of %B, %Y"
%>

<header class="bg-color header pa3 pa4-m pa5-l lh-title" aria-labelledby="page-title">
  <div class="mw7 center">
    <h1 id="page-title" class="f5 f4-ns"><%= current_page.data.title %></h1>
    <p class="pt2 pt3-ns f3 f2-ns normal i"><%= current_page.data.description.sub /\.\z/, '' %></p>
  </div>
</header>

<section id="content" class="pt3 pt4-m pt5-l mh3 mb3 mh4-m mb4-m mh5-l mb5-l" aria-labelledby="overview-title">
  <header class="hidden" aria-labelledby="overview-title">
    <h2 id="overview-title">An overview of technologies</h2>
  </header>

  <div class="mw7 center">
    <p class="measure">The current iteration of this website was built and uploaded on the <time datetime="<%= today %>"><%= today_in_words %></time>.</p>
    <p class="measure mv3">It was built in <a href="//atom.io">Atom</a> on an old <i>MacBook Air</i>, with <a href="//middlemanapp.com">Middleman</a> and my template, <a href="//github.com/oscarpalmer/anu">Anu</a>, together with <a href="https://docs.ruby-lang.org/en/trunk/ERB.html">ERB</a>, <a href="//sass-lang.com">Sass</a>, and <a href="//gulpjs.com">Gulp</a>.</p>
    <p class="measure mv3">Some default styling is handled by <a href="//tachyons.io">Tachyons</a>, together with my custom code; if all is well, you should also be seeing the typeface <i>Source Sans Pro</i>, which is provided by <a href="//fonts.adobe.com">Adobe Fonts</a>.</p>
    <p class="measure mv3">All source code is available on <a href="//github.com/oscarpalmer/oscar.pm">GitHub</a> and hosted on <a href="//netlify.com">Netlify</a>; with every push to <i>GitHub</i>, the data is also sent to <i>Netlify</i>, where it will then build <i>(and publish)</i> the site across its network.</p>
    <p class="measure mv3">The domain is provided by <a href="//iwantmyname.com">iwantmyname</a>, but most domain-related stuff is currently handled by <a href="//www.cloudflare.com">Cloudflare</a>.</p>
    <p class="measure">A complete run-down of all related information is available in the <a href="humans.txt">humans.txt file</a>.</p>
  </div>
</section>
