---
title: Contact
description: How to get in touch with me, if you'd like.
---

<header>
  <h1><%= current_page.data.title %></h1>
  <h2><%= current_page.data.description.sub /\.\z/, '' %></h2>
</header>

<section>
  <header>
    <h2>Questions, ideas, or recommendations?</h2>
  </header>

  <p>Whatever it is, I'd love to hear from you.</p>
  <p>Using any of the traditional methods or social networks below to get ahold of me is probably the fastest and most reliable way of doing so.</p>
  <p>Though, I should mention, I probably won't answer if you call just out of the blue&hellip;</p>
</section>

<section>
  <header>
    <h2>Where to find me</h2>
  </header>

  <ul>
    <% data.contact.links.each do |link|
         href = "href=\"#{link.url}\""
         href = "data-#{href}" if %w(email phone).include? link.tag
    %>
      <%= "<li><a class=\"#{link.tag}\" #{href}>#{link.title}</a></li>" %>
    <% end %>
  </ul>
</section>

<script>document.addEventListener('DOMContentLoaded', function () {
  Array.prototype.forEach.call(
    document.querySelectorAll('.email,.phone'),
    function (link) {
      link.href = link.getAttribute('data-href').replace('_', ':')
      link.removeAttribute('data-href')})
})</script>
